/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11-Mar-2014, 14:19:16
    Author     : Nathan
*/

h4 {
    padding-top: 0;
    margin-top: 3px;
}

.footer {
    background-color: #222;
}